@import url('design.css');

/* Headline section */
.headline-section {
  padding: 4.5em 1em 2em;
}

.headline-title {
	color: var(--clr-accent);
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}

.headline-description {
  padding: 0.65em;
  border: 1px solid var(--clr-dark);
  border-radius: 0.25em;
  background: #fff;
  text-align: center;
}

.contact-us {
  text-align: center;
  padding: 1em 0.95em;
  font-size: 0.85em;
}

.contact-mail {
  display: inline-block;
  color: var(--clr-dark);
  font-weight: var(--fw-title);
}

.contact-mail:hover {
  color: var(--clr-accent);
}
/* End Headline section */

/* Logo section */
.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 1.25em;
  text-align: center;
  border-bottom: 2px solid var(--clr-light);
}

.logo-section_title {
  position: relative;
  font-size: 1.125em;
  margin: 1.25em auto;
  color: var(--clr-dark);
}

.logo-section_title::after {
  position: absolute;
  content: '';
  display: block;
  width: 20vw;
  height: 3px;
  border-radius: 2px;
  bottom: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  background: var( --clr-accent);
}

.logo-description {
  font-size: 0.85em;
  margin: 0.25em auto;
}

.big-logo {
  border: 2px solid var(--clr-light);
  padding: 0.5em;
  color: var(--clr-accent);
  font-weight: 700;
  font-size: var(--fs-subtitle);
  width: 100%;
  margin: 0.75em auto;
  text-align: center;
}
/* End Logo section */

/* Editions section */
.editions-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.25em;
  text-align: center;
}

.editions-section_title {
  position: relative;
  font-size: 1.125em;
  margin: 0.5em auto;
  color: var(--clr-dark);
}

.editions-section_title::after {
  position: absolute;
  content: '';
  display: block;
  width: 20vw;
  height: 3px;
  border-radius: 2px;
  bottom: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  background: var( --clr-accent);
}

.editions-description {
  font-size: 0.85em;
  margin: 1em auto;
}

.editions-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.editions-list_item {
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  height: 9em;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 0.85em;
  background-image: url("../assets/images/harshil.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: inset -100vw -100vh #ec534280;
}

.editions-list_item + .editions-list_item {
  margin-top: 0.75em;
}

.editions-list_item:hover {
  background-size: 110%;
  box-shadow: none;
  transition: all 350ms ease-out;
}

.past-editions {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.year {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
}
/* End Editions section */

/* Partner section */
.partner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1em 0;
  color: #FFF;
  background-color: #2e3139;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2322252e' fill-opacity='1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.partner-section_title {
  position: relative;
  font-size: 1.125em;
  color: #FFF;
  margin: 0.5em auto;
}

.partner-section_title::after {
  position: absolute;
  content: '';
  display: block;
  width: 20vw;
  height: 3px;
  border-radius: 2px;
  bottom: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  background: var( --clr-accent);
}

.partners {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0.5em;
  padding: 1.125em;
  line-height: 1.5;
}

.partner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-weight: 700;
  font-size: 1em;
}

.partner:nth-of-type(2n) {
  color: var(--clr-accent);
}

.partner > i {
  margin-right: 0.25em;
}

.alibaba {
  flex: 2;
}

.partner + .partner {
  margin-left: 0.5em;
}
/* End Partner section */

/* Footer */
.footer {
  display: flex;
  align-items: center;
  padding: 0 1em;
  height: auto;
}

.footer-item {
  flex: 1;
  margin: 0;
  border: none;
}

.rights {
  padding: 0.5em;
  font-size: 0.6em;
}
/* End Footer */
