@import url("design.css");

/* Headline section */
.headline-section {
  padding: 4.5em 1em 2em;
}

.headline-title {
  color: var(--clr-accent);
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}

.headline-description {
  padding: 0.65em;
  border: 1px solid var(--clr-dark);
  border-radius: 0.25em;
  background: #fff;
  text-align: center;
}

.contact-us {
  text-align: center;
  padding: 1em 0.95em;
  font-size: 0.85em;
}

.contact-mail {
  display: inline-block;
  color: var(--clr-dark);
  font-weight: var(--fw-title);
}

.contact-mail:hover {
  color: var(--clr-accent);
}

/* End Headline section */

/* Logo section */
.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 1.25em;
  text-align: center;
  border-bottom: 2px solid var(--clr-light);
}

.logo-section-title {
  position: relative;
  font-size: 1.125em;
  margin: 1.25em auto;
  color: var(--clr-dark);
}

.logo-section-title::after {
  position: absolute;
  content: "";
  display: block;
  width: 20vw;
  height: 3px;
  border-radius: 2px;
  bottom: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-accent);
}

.logo-description {
  font-size: 0.85em;
  margin: 0.25em auto;
}

/* End Logo section */

/* Editions section */
.editions-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.25em;
  text-align: center;
}

.editions-section-title {
  position: relative;
  font-size: 1.125em;
  margin: 0.5em auto;
  color: var(--clr-dark);
}

.editions-section-title::after {
  position: absolute;
  content: "";
  display: block;
  width: 20vw;
  height: 3px;
  border-radius: 2px;
  bottom: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-accent);
}

.editions-description {
  font-size: 0.85em;
  margin: 1em auto;
}

.editions-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.editions-list-item {
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  height: 9em;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 0.85em;
  background-image: url("../assets/images/harshil.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: inset -100vw -100vh #ec534280;
}

.editions-list-item:nth-child(2) {
  background-image: url("../assets/images/damian.jpg");
}

.editions-list-item + .editions-list-item {
  margin-top: 0.75em;
}

.editions-list-item:hover {
  background-size: 110%;
  box-shadow: none;
  transition: all 350ms ease-out;
}

.past-editions {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.year {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
}

/* End Editions section */


/* Media queries */
@media only screen and (min-width: 768px) {
/* Partner section */
.partner-section {
  display: none;
}
/* End Partner section */

/* Footer */
.footer {
  background-color: var(--clr-dark);
  color: #fff;
}

.footer-item {
  text-align: end;
  margin-right: 5em;
  color: inherit;
}

.rights {
  padding: 0.5em;
  font-size: 0.825em;
  text-align: start;
}

/* End Footer */
}

@media only screen and (min-width: 992px) {
  /* Headline section */
  .headline-section {
    padding: 8em 12em;
  }

  .headline-description {
    width: 60%;
  }
}