@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@font-face {
  font-family: "Cocogoose";
  src: url("../assets/fonts/cocogoose-regular.ttf") format("truetype");
  font-weight: 700;
}

/* Custom variables */
:root {
  /* Color palette */
  --clr-dark: #272a31;
  --clr-accent: #ec5242;
  --clr-light: #d3d3d3;

  /* Typography */
  --ff-title: "Cocogoose", "monospace", "Poppins";
  --ff-text: "Lato", sans-serif;
  --fw-title: 600;
  --fw-text: 400;
  --fs-title: 3em;
  --fs-subtitle: 2.25em;
  --fs-text: 1.5em;
  --line-height: 1.5;
}

/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background: url(../assets/images/cool-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--clr-dark);
  font-size: var(--fs-text);
  font-weight: var(--fw-text);
  font-family: var(--ff-text);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-dark);
  width: 10px;
  border: 2px solid rgba(255, 255, 255, 0.09);
  border-radius: 6px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  line-height: var(--line-height);
}

.link {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--clr-accent);
  font-weight: var(--fw-title);
  font-family: var(--ff-title);
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: start;
  position: fixed;
  top: 0;
  background: transparent;
  padding: 1.25em;
  width: 100%;
  z-index: 10;
}

.upper-header {
  display: none;
}

.lower-header {
  width: inherit;
}

.big-logo {
  border: 2px solid var(--clr-light);
  padding: 0.5em;
  color: var(--clr-accent);
  font-weight: 700;
  font-size: var(--fs-subtitle);
  width: 100%;
  margin: 0.75em auto;
  text-align: center;
  text-decoration: none;
}

.brand-logo {
  display: none;
}

.nav {
  display: none;
}

.nav-open .nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  transition:
    width 200ms ease-in,
    height 250ms ease-out;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #2e3139;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2322252e' fill-opacity='1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  z-index: 10;
}

.nav-toggle {
  border: none;
  background: transparent;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  width: 2.25em;
  height: 6px;
  background-color: var(--clr-dark);
  transition: all 200ms ease-in-out;
}

.hamburger {
  position: relative;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  content: "";
}

.hamburger::before {
  bottom: 10px;
}

.hamburger::after {
  top: 10px;
}

.nav-open .nav-toggle {
  position: absolute;
  z-index: 20;
}

.nav-open .nav-list {
  align-self: center;
  list-style: none;
  line-height: 2;
}

.nav-open .nav-list-link {
  color: var(--clr-light);
  font-size: 1.25em;
  font-weight: 600;
}

.nav-open .hamburger {
  transform: rotate(45deg);
}

.nav-open .hamburger::after {
  transform: rotate(0.625turn) rotate(45deg) translateY(-10px) translate(10px, 10px);
}

.nav-open .hamburger,
.nav-open .hamburger::after {
  background-color: var(--clr-light);
}

.nav-open .hamburger::before {
  display: none;
}

/* End header */

.blur {
  background-image: linear-gradient(to bottom, #ffffff25, #ffffff08);
  backdrop-filter: blur(2px);
}

/* Partner section */
.partner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1em 0;
  color: #fff;
  background-color: #2e3139;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2322252e' fill-opacity='1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.partner-section-title {
  position: relative;
  font-size: 1.125em;
  color: #fff;
  margin: 0.5em auto;
}

.partner-section-title::after {
  position: absolute;
  content: "";
  display: block;
  width: 20vw;
  height: 3px;
  border-radius: 2px;
  bottom: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-accent);
}

.partners {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  row-gap: 0.5em;
  padding: 1.125em;
  line-height: 1.5;
}

.partner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-weight: 700;
  font-size: 1em;
}

.partner:nth-of-type(2n) {
  color: var(--clr-accent);
}

.partner > i {
  margin-right: 0.25em;
}

.alibaba {
  flex: 2;
}

.partner + .partner {
  margin-left: 0.5em;
}

/* End Partner section */

/* Footer */
.footer {
  display: flex;
  align-items: center;
  padding: 0 1em;
  height: auto;
}

.footer-item {
  flex: 1;
  margin: 0;
  border: none;
}

.rights {
  padding: 0.5em;
  font-size: 0.6em;
}

/* End Footer */

/* Responsive media queries */
@media only screen and (max-width: 360px) {
  :root {
    --fs-subtitle: 2.75em;
    --fs-text: 1.275em;
  }
}

@media only screen and (max-width: 320px) {
  :root {
    --fs-subtitle: 2em;
    --fs-text: 1.125em;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --fs-title: 4.5em;
    --fs-subtitle: 1.95em;
    --fs-text: 1.05em;
  }

  /* Header */
  .header {
    flex-direction: column;
    align-items: stretch;
    padding: 0;
  }

  .upper-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 1.5em;
    width: 100%;
    background-color: var(--clr-dark);
    padding: 0.125em 10em;
  }

  .upper-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    color: #fff;
  }

  .upper-list-item + .upper-list-item {
    margin-left: 0.5em;
  }

  .upper-list-link {
    text-decoration: none;
    color: #fff;
    font-size: 0.85em;
    padding: 0.25em 0;
  }

  .lower-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    width: 100%;
    background-color: #fff;
    padding: 1em 10em;
  }

  .brand-logo {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    height: min-content;
    width: min-content;
  }

  .nav {
    display: block;
    width: 60%;
  }

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: var(--fs-text);
  }

  .nav-list:first-child,
  .nav-list:last-child {
    color: var(--clr-accent);
  }

  .nav-list-link {
    color: var(--clr-dark);
  }

  .accent {
    color: var(--clr-accent);
  }

  .campaign {
    outline: 3px solid var(--clr-accent);
    outline-offset: 5px;
  }

  .nav-toggle {
    display: none;
  }

  /* End Header */
}

@media only screen and (min-width: 992px) {
  :root {
    --fs-title: 5em;
  }
}

/* End Responsive media queries */
