@import url("design.css");

/* Headline section */
.headline-section {
  padding: 4.5em 1em 2em;
}

.headline-title {
  background-image: url("../assets/images/harshil.jpg");
  background-position: center;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: var(--fs-title);
  text-transform: uppercase;
  margin-bottom: 0.25em;
}

.headline-description {
  padding: 0.75em;
  border: 5px solid var(--clr-light);
  border-radius: 0.25em;
  background: transparent;
}

/* End Headline section */

/* Program section */
.program-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1em 0;
  color: #fff;
  background-color: #2e3139;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2322252e' fill-opacity='1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.program-section-title {
  position: relative;
  font-size: 1.125em;
  color: #fff;
  margin: 0.5em auto;
}

.program-section-title::after {
  position: absolute;
  content: "";
  display: block;
  width: 20vw;
  height: 3px;
  border-radius: 2px;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-accent);
}

.programs {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 1em;
  line-height: 1.2;
}

.program {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.program + .program {
  margin-top: 0.5em;
}

.program-title {
  font-size: 0.8em;
  width: 25%;
}

.program-details {
  font-size: 0.675em;
  width: 60%;
  line-height: 1.5;
}

.join {
  background: var(--clr-accent);
  color: #fff;
  padding: 1em 1.125em;
  font-weight: 700;
  width: 82%;
  border: 2px solid transparent;
  transition: all 250ms ease-in-out;
}

.join:hover {
  background: #fff;
  color: var(--clr-accent);
  border: 2px solid var(--clr-accent);
}

/* End Program section */

/* Speakers section */
.speakers-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1em 0;
}

.speakers-section-title {
  position: relative;
  font-size: 1.125em;
  margin: 0.5em auto;
  color: var(--clr-dark);
}

.speakers-section-title::after {
  position: absolute;
  content: "";
  display: block;
  width: 20vw;
  height: 3px;
  border-radius: 2px;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-accent);
}

.speakers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2.5em 1em 1.5em;
  height: auto;
  transition: height 250ms ease-in-out;
}

.speaker {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 5em;
}

.speaker + .speaker {
  margin-top: 1em;
}

.speaker-photo {
  position: relative;
  background: var(--clr-accent);
  width: 3em;
  height: 3em;
  margin: 0 2em 2em 0;
  z-index: 0;
}

.speaker-photo::before {
  content: "";
  position: absolute;
  display: block;
  width: 4em;
  height: 4em;
  background: url("../assets/images/hu-chen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0.5em;
  z-index: 0;
}

.speaker-infos {
  height: 100%;
  flex: 1;
}

.speaker-name {
  font-size: 0.8em;
  color: var(--clr-dark);
}

.speaker-job {
  font-size: 0.7em;
  color: var(--clr-accent);
}

.speaker-about {
  font-size: 0.675em;
  line-height: 1.25;
}

.speaker-hidden {
  display: none;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.expanded .speaker-hidden {
  display: flex;
  opacity: 1;
}

.ml {
  width: calc(100% - 3em);
  height: 3.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
  border-radius: 5px;
  font-size: 0.75em;
  font-weight: 600;
  margin: 1em;
  text-transform: uppercase;
  cursor: pointer;
}

.ml-arrow {
  color: var(--clr-accent);
  font-size: 1.625em;
  font-weight: 600;
}

/* End Speakers section */
